<!DOCTYPE html>
<html>

   <head>
      <title>Login Exercise</title>
      <link rel="shortcut icon" href="/assets/favicon.ico" type="image/x-icon"/>
      <link href="/assets/css/font.css" rel="stylesheet" type="text/css">
      <link href="/assets/css/style.css" rel="stylesheet" type="text/css">
   </head>

   <body>
      <%- body %>
   </body>

</html>
