<!DOCTYPE html>
<html>

   <head>
      <title>Exercise Tracker | Free Code Camp</title>
      <link rel="shortcut icon" href="favicon.ico" type="image/x-icon"/>
      <link href="font.css" rel="stylesheet" type="text/css">
      <link href="style.css" rel="stylesheet" type="text/css">
   </head>

   <body>
      <div class="container">
         <h1>Daily Exercise</h1>
          <form action="/api/daily-exercise/user" method="POST">
            <h3>Create a New User</h3>
            <p><code>POST /api/daily-exercise/user</code></p>
            <input id="uname" type="text" name="username" placeholder="username">
            <input id="uage" type="number" name="userage" placeholder="userage">
            <input type="submit" value="Submit">
          </form>
      </div>
   </body>

</html>
