<!DOCTYPE html>
<html>

   <head>
      <title>Daily Exercise 07/10</title>
      <link rel="shortcut icon" href="favicon.ico" type="image/x-icon"/>
      <link href="font.css" rel="stylesheet" type="text/css">
      <link href="style.css" rel="stylesheet" type="text/css">
   </head>

   <body>
      <%- body %>
   </body>

</html>
